.list-block {
    width: 20%;
    height: 96vh;
    overflow-y: scroll;
    display: inline-block;
}

.info-block {
    width: 80%;
    height: 96vh;
    display: inline-block;
    vertical-align: top;
}