.country-info-block {
    padding: 50px;
}

.name {
    text-transform: uppercase;
}

.flag-img {
    width: 200px;
    height: 120px;
    float: right;
    position: absolute;
    top: 80px;
    right: 30px;
}